<% @pa.each do |row| %>
    <p><%= row %></p>
<% end %>

<br><br><br>
<p>
  записей на странцие:<%= @pa.count %>
</p>
<p>
  записи: <%= @pa.current_page_record_range %>
</p>

<p>
  <% unless @pa.first_page? %>
      <a href="/events">в начало</a>
      <% unless @pa.current_page-1 == 1 %>
          <a href="/events?page=<%= @pa.prev_page %>"> < </a>
      <% end %>
  <% end %>
  <%= @pa.current_page %>
  <% unless @pa.last_page? || @pa.page_count-1 == @pa.current_page %>
      <a href="/events?page=<%= @pa.next_page %>"> > </a>
  <% end %>
  <% unless @pa.next_page.nil? %>
      <a href="/events?page=<%= @pa.page_count %>">последняя страница</a>
  <% end %>
</p>