<div class="panel panel-default">
  <div class="panel-heading">Лог системы</div>
  <div class="panel-body">
    <p>
      <%= @performed_actions.class %>
    </p>
    <p>
      <%= @performed_actions.inspect %>
    </p>
    <p>
      Записей на странцие: < %= @performed_actions.count %>; записи: < %= @performed_actions.current_page_record_range %>
    </p>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th scope="row">id пользователя</th>
      <th>Роль</th>
      <th>Дейстие</th>
      <th>Сущность</th>
      <th>Дата и время</th>
    </tr>
    </thead>
    <tbody>
    <% @performed_actions.each do |action| %>
        <tr>
          <td>
            <%= action.actor_id %>
          </td>
          <td>
            <%= action.actor_type %>
          </td>
          <td>
            <%= action.action %>
          </td>
          <td>
            <%= action.subject_type %>
          </td>
          <td>
            <%= action.created_at %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

< %= erb(:pagination) %>
