<p>
  Записей на странцие: <%= @pa.count %>; записи: <%= @pa.current_page_record_range %>
</p>

<% @pa.each do |row| %>
    <p><%= row %></p>
<% end %>

<nav aria-label="Page navigation">
  <ul class="pager">

    <% unless @pa.first_page? %>
        <li>
          <a href="/events">
          <span aria-hidden="true">&laquo;</span>
          </a>
        </li>

        <% unless @pa.current_page-1 == 1 %>
            <li>
              <a href="/events?page=<%= @pa.prev_page %>" aria-label="Previous">
                <span aria-hidden="true">&larr;</span>
              </a>
            </li>
        <% end %>

    <% end %>

    <li><a href="#"><%= @pa.current_page %></a></li>

    <% unless @pa.last_page? || @pa.page_count-1 == @pa.current_page %>
        <li>
          <a href="/events?page=<%= @pa.next_page %>" aria-label="Next">
            <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
    <% end %>

    <% unless @pa.next_page.nil? %>
        <li>
          <a href="/events?page=<%= @pa.page_count %>">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
    <% end %>
  </ul>
</nav>
